<style>
#header {
  display: none;
}

/* top section */

#page-section-5f652fccb71066357bd96b83 {
  margin-top: 262px;
}

.section-background img {
  height: 100% !important;
  width: 100% !important;
  object-fit: fill;
}

#block-2b3b33425e77008f2e9a {
  max-width: 945px;
}

/* main body text */

#page-section-5f652fccb71066357bd96b85 {
  margin-top: -70px;
  position: relative;
  z-index: 20;
  background: transparent;
}

#block-aea5771a9831d0731892 .sqs-block-content {
  padding-bottom: 84px;
  margin-bottom: 35px;
  border-bottom: 1px solid white;
}

#block-aea5771a9831d0731892 h1 {
  margin-top: 100px;
  padding-bottom: 0;
  letter-spacing: 0;
}

/* portfolio section */
#block-91fc17d8b80104a9f2d7 .newsletter-form-header-title,
.sqs-block-content h2 {
  font-size: calc(2vw + 1.1rem) !important;
  font-family: 'DM Sans', sans-serif !important;
  white-space: nowrap !important;
  margin-bottom: 25px !important;
  font-weight: 600;
}

#block-dfef404391a001c98219 {
  min-width: 270px;
}

#block-dfef404391a001c98219 p {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

#block-dfef404391a001c98219 a {
  font-family: 'DM Sans', sans-serif;
  background: none !important;
}

.sqs-block-content h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: calc(6vw + 3.2rem);
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.sqs-block-content p.sqsrte-large {
  max-width: 720px;
  font-size: calc(1vw + 0.65rem);
  line-height: calc(1vw + 1.5rem);
  font-family: 'DM Sans', sans-serif;
}

.white .section-background .section-background-overlay {
  z-index: 10;
  height: 100%;
  background: linear-gradient(180deg, rgb(255 255 255 / 0) 87%, #000 100%) !important;
  opacity: 1 !important;
}

.page-section.vertical-alignment--top:not(.content-collection):not(.gallery-section):not(.section-height--custom)>.content-wrapper {
  padding-top: 0 !important;
}

/* newsletter */
#block-91fc17d8b80104a9f2d7.newsletter-block .newsletter-form {
  text-align: left;
}

#block-91fc17d8b80104a9f2d7.newsletter-block .newsletter-form-header {
  width: 100%;
  margin: 0;
}

#block-91fc17d8b80104a9f2d7.newsletter-block .newsletter-form-header-description p {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  font-size: calc(1vw + 0.65rem);
  line-height: calc(1vw + 1.5rem);
}

#block-91fc17d8b80104a9f2d7 .newsletter-form-header-title {
  line-height: 1.2992;
}

.newsletter-block .newsletter-form-body {
  position: relative;
  max-width: 636px;
}

.newsletter-block .newsletter-form-fields-wrapper {
  margin: 0;
  width: 100%;
}

.newsletter-block .newsletter-form-field-element {
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  margin-top: 27px;
  padding: 1em;
  background: #000;
  font-size: 22px;
  border-radius: 33px;
  height: 60px;
  border: 1px solid #fff;
  color: #fff;
  transition: background .3s ease-out, border .3s ease-out;
}
.newsletter-block .newsletter-form-field-element.focus-visible {
    color: #000;
}

#email-yui_3_17_2_1_1552579698432_3881 {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

#email-yui_3_17_2_1_1552579698432_3881:-internal-autofill-selected,
    #email-yui_3_17_2_1_1552579698432_3881:-webkit-autofill {
    background-color: #fff !important;
}


.newsletter-block .newsletter-form-button-wrapper {
  width: 45px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 35px;
  background: transparent;
  height: 60px;
}
.newsletter-block .newsletter-form-button-wrapper button:hover,
.newsletter-block .newsletter-form-button-wrapper button {
    opacity: 0 !important;
    position: absolute;
    top: 0;
    left: -27px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    z-index: 10;
}

.newsletter-form-button-wrapper.submit-wrapper:after {
    content: "\2192";
    font-size: 32px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    top: 3px;
    right: 25px;
    position: absolute;
    cursor: pointer;
    background: transparent;
    width: 100%;
    text-align: right;
    transition: opacity ease 0.2s;
}

.newsletter-block .newsletter-form-button-wrapper.is-active  {
    color: black;
}

.newsletter-form-button-wrapper:hover.submit-wrapper:after {
    opacity: .7;
}

.form-submission-text,
.newsletter-block .newsletter-form-field-wrapper .field-error {
    font-family: 'DM Sans', sans-serif;
    background: transparent !important;
    color: white !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white !important;
}

/* footer */
#page-section-5f6631626875941e58c48d9b {
    padding-top: 20px;
    border-top: 1px solid white;
}

#page-section-5f6631626875941e58c48d9b p {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

#page-section-5f6631626875941e58c48d9b .row {
    display: flex;
}

#block-e02706901a3fa3a39a64 p {
    white-space: nowrap !important;
}
/* thank you not on submit */
#yui_3_17_2_1_1600536186466_485 {
    margin-top: 10px;
}

section.page-section.layout-engine-section.background-width--full-bleed.section-height--medium.content-width--medium.horizontal-alignment--center.vertical-alignment--top .content-wrapper {
    padding-bottom: 120px;
}

@media (max-width: 990px) {
  .sqs-block-content h1 {
    font-size: calc(6vw + 3rem);
  }
}

@media screen and (min-width: 768px) {
  .page-section.content-width--medium:not(.content-collection) .content {
    width: 100% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .page-section:not(.full-bleed-section)>.content-wrapper {
    padding-right: 12vw !important;
    padding-left: 12vw !important;
  }
}

@media screen and (min-width: 1400px) {
  .sqs-block-content p.sqsrte-large {
    font-size: 24px;
    line-height: 38px;
  }

  .sqs-block-content h1 {
    font-size: 145px;
    margin-top: 100px;
  }

  .sqs-block-content h2 {
    font-size: 44px;
    line-height: 53px;
  }
}

@media (max-width: 770px) {
    .newsletter-form-header-description p,
    .sqs-block-content p.sqsrte-large {
        font-size: 18px;
        line-height: 28px;
    }
    .sqs-block-content h2 {
        font-size: 36px;
        line-height: 43px;
    }
    section.page-section.layout-engine-section.background-width--full-bleed.section-height--medium.content-width--medium.horizontal-alignment--center.vertical-alignment--top .content-wrapper {
        padding-bottom: 100px;
    }
}

@media (max-width: 550px) {
    #block-aea5771a9831d0731892 h1 {
        font-size: 75px;
        line-height: 80px;
    }
    #block-2b3b33425e77008f2e9a h1 {
        max-width: 400px;
    }
    .sqs-block-content h1 {
        font-size: 54px;
        line-height: 60px;
        margin-top: 85px;
    }
}

</style>

<script>
  window.onload = (event) => {
  const newsLetterInput = document.querySelector('.newsletter-form-field-wrapper input');
    const submitButton = document.getElementsByClassName('newsletter-form-button-wrapper')[0];
    newsLetterInput.addEventListener('focus', (event) => {
    submitButton.classList.add("is-active");
    });

    newsLetterInput.addEventListener('blur', (event) => {
        submitButton.classList.remove("is-active");

    });
};

</script>